<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <a class="navbar-brand" href="/">Mati Bot's Stocks</a>
  </div>
</nav>
